<div class="animated fadeIn">
    <h1>Marvel & DC Heroes</h1>
    <hr>
    <div class="card-columns">
        <div class="card animated fadeIn fast" *ngFor="let hero of heroes; let i = index">
            <img class="card-img-top" [src]="hero.img" [alt]="hero.name">
            <div class="card-body">
                <h5 class="card-title"> {{ hero.name }}</h5>
                <p class="card-text"> {{ hero.bio }}</p>
                <p class="card-text"><small class="text-muted"> {{ hero.origin }}</small></p>
                <!-- Navigate to detail buttons -->
                <button type="button" class="btn btn-outline-primary btn-block" (click)="goToHeroDetail(i)">
                    See more
                </button>
                <!-- Navigate to detail with links -->
                <!-- <a type="button" class="btn btn-outline-primary btn-block" [routerLink]="[i]">
                    See more
                </a> -->
            </div>
        </div>
    </div>
</div>