<div class="animated fadeIn">
    <h1>Marvel & DC Heroes</h1>
    <hr>
    <div class="card-columns">
        <div class="card" *ngFor="let hero of heroes">
            <img class="card-img-top" [src]="hero.img" [alt]="hero.name">
            <div class="card-body">
                <h5 class="card-title"> {{ hero.name }}</h5>
                <p class="card-text"> {{ hero.bio }}</p>
                <p class="card-text"><small class="text-muted"> {{ hero.origin }}</small></p>
                <button type="button" class="btn btn-outline-primary btn-block">See more</button>
            </div>
        </div>
    </div>
</div>