<div class="animated fadeIn">
    <h1>Search Result for: {{ searchedHero }}</h1>
    <hr>
    <div class="card-columns">
        <app-hero-card (selectedHero)="goToHeroDetail($event)" [hero]="hero" [heroName]="hero.name" *ngFor="let hero of matchedHeroes"></app-hero-card>
    </div>
    <div class="row" *ngIf="matchedHeroes.length === 0">
        <div class="col-md-12">
            <div class="alert alert-info" role="alert">
                No results found for <b>{{ searchedHero }}</b> search
            </div>
        </div>
    </div>
</div>